h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: white;
    background-color: rgb(9, 83, 27);
    padding: 20px;
    border-radius: 20px;
}
body{
    background-color: rgb(34, 13, 224);
}